@{
    ViewData["Title"] = "Contacto";
}

<div class="row mt-4">
    <div class="col-md-6">
        <h2 class="text-primary">Ponte en contacto</h2>
        <p>Contactenos si es urgencia</p>
        
        <ul class="list-unstyled mt-4">
            <li><strong>Dirección:</strong> puerto montt, egaña </li>
            <li><strong>Teléfono:</strong> +56951760928</li>
            <li><strong>Correo:</strong> contacto@clinicaweb.cl</li>
        </ul>
    </div>
    
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body border-arriba-custom">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Tu nombre" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mensaje</label>
                        <textarea class="form-control" rows="4" placeholder="en que lo ayudamos??"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary w-100 text-uppercase fw-bold titulo-custom">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </div>
</div>