@{
    ViewData["Title"] = "Especialidades Médicas";
}

<h2 class="text-center text-primary mt-4 mb-4">Especialidades</h2>

<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100 p-tarjeta-custom">
            <div class="card-body text-center">
                <h3 class="card-title">Medicina General</h3>
                <p class="card-text">Atención primaria y diagnósticos </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100 p-tarjeta-custom">
            <div class="card-body text-center">
                <h3 class="card-title">Pediatría</h3>
                <p class="card-text">atención especializada para los más pequeños.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100 p-tarjeta-custom">
            <div class="card-body text-center">
                <h3 class="card-title">Odontología</h3>
                <p class="card-text">tratamientos con tecnología de punta.</p>
            </div>
        </div>
    </div>
</div>